*{
    box-sizing: border-box;
}
.navbar{
    margin-bottom: 0;
    background: #F6F8FA;
    border: none;
    box-shadow: none;
}
#mainContent{
    margin-top: 50px;
    background: #F6F8FA;
    padding-bottom: 25px;
}
/*
.swiper-container img{

    width: auto;
    height: 80vh;
}*/

/* SWIPER START */
.swiper-container img {
    width:120%;
    height:auto;
}

.swiper-wrapper {
    height:auto !important;
}

.swiper-slide {
    height:auto !important;
}
.swiper-slide img{
    border-radius:15px;
}
.swiper-slide-next{
    opacity: 0.99;
}
.swiper-slide-prev{
    opacity:0.99;
}

#about{
    position:static;
    height: 50%;
    width:100%;
    background: #373A39;
}

/* END SWIPER */


#about{
    color:#FFFFFF;
}

#about p{
    margin-top:20px;
    text-align: justify;
}

.jumbotron{
    margin-bottom: 0;
}

#panels-tile, #sheets-tile, #lighting-tile, #thermostat-tile{
    height: 250px;
    width:100%;
    margin-bottom:15px;
    position:relative;
    border: 2px solid #3f0c1f;
    overflow:hidden;
}

#panels-tile:hover, #sheets-tile:hover, #lighting-tile:hover, #thermostat-tile:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}

#panels-tile{
    /*background: url() no-repeat;*/
    background:#5e5e5e;
    background-size:cover;
    background-position: center;
}
#sheets-tile{
    background:#5e5e5e;
    /*background: url() no-repeat;*/
    background-size:cover;
    background-position: center;
}
#lighting-tile{
    background:#5e5e5e;
    /*background: url() no-repeat;*/
    background-size:cover;
    background-position: center;
}
#thermostat-tile{
    background:#5e5e5e;
    /*background: url() no-repeat;*/
    background-size:cover;
    background-position: center;
}

#panels-tile span, #sheets-tile span, #lighting-tile span, #thermostat-tile span{
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    text-align: center;
    font-size:1.4em;
    text-transform: uppercase;
    background-color: #000;
    color:#fff;
    opacity:.7;
}

/*FOOTER */

.panel-footer {
    /* bg: */
    background: #373A39;
    border: none;
}
#phoneNumber {
    /* Adresa numar de tele: */
    font-family: OpenSans;
    font-size: 14px;
    color: #A8A8A8;
    line-height: 32px;
}
#adress{
    font-family: OpenSans;
    font-size: 14px;
    color: #A8A8A8;
    line-height: 32px;
}
#mail{
    font-family: OpenSans;
    font-size: 14px;
    color: #A8A8A8;
    line-height: 32px;
}
#facebook {
    /* FACEBOOK: */
    font-family: Montserrat-Light;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 4px;
}
#firstFooter{
    border-top: 1px solid black;
}
#secondFooter{
    background: #2A2C2B;
}
.center-block{
    float:none; !important;
}
/* END FOOTER */


